<table class="table table-striped">
	<thead>
		<tr>
		<th scope="col">Day</th>
		<th scope="col">Open Time</th>
		</tr>
		    </thead>
		        <tbody>
					<tr>
						<td>Monday</td>
						<td>9:00-20:00</td>
					</tr>	
					<tr>
						<td>Tusday</td>
						<td>9:00-20:00</td>
					</tr>
					<tr>
						<td>Wednesday</td>
						<td>9:00-20:00</td>
					</tr>
					<tr>
						<td>Thursday</td>
						<td>9:00-20:00</td>
					</tr>	
					<tr>
						<td>Friday</td>
						<td>9:00-20:00</td>
					</tr>
					<tr>
						<td>Saturday</td>
						<td>10:00-19:00</td>
					</tr>
					<tr>
						<td>Sunday</td>
						<td>12:00-18:00</td>
					</tr>
					<tr>
					<input type="Large button" class="btn btn-primary"/>	
					</tr>
					</tr>
				</tbody>
			</table>
