<table class="table table-striped">
	<thead>
		<tr>
		<th scope="col">Day</th>
		<th scope="col">Open Time</th>
		</tr>
		    </thead>
		        <tbody>
					<tr>
						<td>Monday</td>
						<td>9:00-20:00</td>
					</tr>	
					<tr>
						<td>Tusday</td>
						<td>9:00-20:00</td>
					</tr>
					<tr>
						<td>Wednesday</td>
						<td>9:00-20:00</td>
					</tr>
					<tr>
						<td>Thursday</td>
						<td>9:00-20:00</td>
					</tr>	
					<tr>
						<td>Friday</td>
						<td>9:00-20:00</td>
					</tr>
					<tr>
						<td>Saturday</td>
						<td>10:00-19:00</td>
					</tr>
					<tr>
						<td>Sunday</td>
						<td>12:00-18:00</td>
					</tr>
				</tbody>
			</table>
<form action="/visit" method="POST">

	Your hairdresser:
	<select name = "barber">
		<option>Walter White</option>
		<option>Jessie Pinkman</option>
		<option>Gus Fring</option>
	</select><br/>
    Your name:
    <input id="aaa" type="text" name="user_name" /> <br/>
    Your phone:
	<input id="bbb" type="datetime-local" name="date_time" /> <br/>
    Date and time:
    <input id="ccc" type="datetime-local" name="date_time" /> <br/>

    <input type="submit" class="btn btn-primary"/>

</form>

<script type="text/javascript">
$('#aaa').css('background-color','grey')
$('#bbb').css('background-color','blue')
$('.ccc').css('background-color','red')