<h1>
    welcome to barber shop
</h1>
<p>
    we are open
</p>
<form action="/" method="POST">

    <input type="text" name="user_" />
    <input type="text" name="phone" /> 
    <input type="text" name="date_time" />

    <input type="submit" />

</form>
