<head>
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>

<h1>
    welcome to barber shop!
</h1>
<p>
    we are open
</p>
<form action="/" method="POST">

    Your name:
    <input type="text" name="user_name" /> <br/>
    Your phone:
    <input type="text" name="phone" /> <br/>
    Date and time:
    <input type="text" name="date_time" /> <br/>

    <input type="submit" class="btn btn-primary"/>

</form>
